<!-- https://www.smashbros.com/assets_v2/img/fighter/roy/main.png -->
<head>
  <link rel="stylesheet" href="main.css">
</head>


<body>
  <div id="fighter">
  <h1 class="char-name">Roy</h1>    
  <h1 class="char-number">#25</h1>
  <img src="https://www.smashbros.com/assets_v2/img/fighter/roy/main.png" id="char-image">  
  </div>

</body>
